@import './_vars.scss';
@import './_media/main.scss';

:root{
  font-size: calc(1vw + 0.1em);
  font-family: $Lato;
  box-sizing: border-box;
}
*,
*::before,
*::after{
 -moz-box-sizing: inherit;
 -webkit-box-sizing: inherit;
 box-sizing: inherit;
}
body {
  background-color: $body-bg;
}
p{
 margin: 0em;
}

.container{
  margin: 0em 5em;
}
.list__items {
  margin-bottom: 1.5em;
  list-style: none;
}
.action-button__content_none-decoration {
  text-decoration: none;
}
@include mainFontSize();