@import '../vars';
@mixin changeSideMenuView() {
  @keyframes slidein {
    from {
      margin-left: 0em;
      width: 100%;
    }
  
    to {
      margin-left: 0em;
      width: 50%;
    }
  }
  @keyframes slideout {
    from {
      margin-left: 0em;
      width: 50%;
    }
  
    to {
      margin-left: 0em;
      width: 100%;
    }
  }
  
@media (max-width: map-get($breack-point, mobile)) {
  .menu_opened{
    position: relative;
    z-index: 1;
   width: 300%;
  }
 }
}

@mixin movingImage() {
  @keyframes movein {
    from {
      left: 80px;
    }
    to {
      left: 190px;
    }
  }
  
  @keyframes moveout {
    from {
      left: 190px;
    }
  
    to {
      left: 80px;
    }
  }
  @media (max-width: map-get($breack-point, xl)) {
    @keyframes movein {
      from {
        left: 60px;
      }
      to {
        left: 160px;
      }
    }
    
    @keyframes moveout {
      from {
        left: 160px;
      }
    
      to {
        left: 60px;
      }
    }
}
@media (max-width: map-get($breack-point, mobile)) {
  @keyframes movein {
    from {
      left: 10px;
    }
    to {
      left: 210px;
    }
  }
  
  @keyframes moveout {
    from {
      left: 210px;
    }
  
    to {
      left: 10px;
    }
  }
}
}

@mixin hideTextContent() {
  @keyframes hideout {
    from {
      margin-left: 0em;
      width: 50%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
}
