@import '../_vars.scss';

@mixin changeSizeLayout() {
  @media (max-width: map-get($breack-point, xxl)) {
    .layout {
      grid-template-columns: 240px 1fr 240px;
    }
  }
  @media (max-width: 1440px) {
    .layout {
      grid-template-columns: 230px 1fr 230px;
    }
  }
  @media (max-width: map-get($breack-point, xl)) {
    .layout {
      grid-template-columns: 200px 1fr 200px;

    }
  }
  @media (max-width: map-get($breack-point, mobile)) {
  .layout {
    grid-template-columns: 80px 1fr 80px;
  }
  .list{
    margin-top: 4em;
  }
  .list__header, 
  .item__link,
  .list__items-signin,
  .list__items-login
  {
    display: none;
  }
}
}